.header_top {
  padding: 8px 0;
  background-color: #000000;
  color: #fafafa;
  .header_top_title {
    margin: 0 auto;
    .header_top_link {
      padding: 0 0 0 8px;
      text-decoration: underline;
      font-weight: bold;
    }
    .header_top_select {
      margin-left: auto;
      margin-right: 135px;
    }
  }
}

.header_bottom {
  margin: 45px 0 23px;
  .header_bot_list {
    font-weight: 400;
  }
  .header_bot_list:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
  }
  .header_form {
    padding: 7px 12px 7px 20px;
    background-color: #f5f5f5;
    .header_form_input {
      width: 100%;
      border: none;
      background-color: #f5f5f5;
      outline: none;
    }

    // .header_form_icon {
    //   // width: 25px;
    //   // height: 25px;
    // }
  }
  .header_form:active {
    // border: 1px solid black;
    outline: 1px solid black;
  }
}
