.footer {
  background-color: black;
  color: white;
  .top_footer {
    padding: 80px 0 60px;
    .top_footer_col {
      padding: 0 135px;
      .top_footer_row {
        .top_footer_title {
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 24px;
        }
        .top_footer_content {
          font-size: 16px;
          .top_footer_form {
            border: 1px solid white;
            border-radius: 5px;
            width: max-content;
            padding: 12px 16px;

            input {
              outline: none;
              background: transparent;
            }
          }
          .top_footer_download a:first-child {
            grid-row: 1 / span 2;
          }
        }
      }
    }
  }
  .bot_footer {
    color: white;
    display: inline-flex;
    justify-content: center;
    border-top: 1px solid white;
    width: 100%;
    padding: 16px 0 24px;
  }
}
